@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

/* app */
#app {
    font-family: "Wittgenstein", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
  }
  
  nav {
    padding: 30px;
  }
  .wrapper{
    
    background: linear-gradient(to bottom right, #008080, #001F4D,#666e7a,#554671 ,#3f1d5a); 
    /* background-color: aqua; */
  }
  
  nav a {
    font-weight: bold;
    color: #393349;
  }
  
  nav a.router-link-exact-active {
    color: #3c2562;
  }
  ::-webkit-scrollbar{
    display:none;
  }